# Random Forest for  Company Dataset

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [25]:
#loading the data
company = pd.read_csv("Company_Data.csv")
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [26]:
company.shape

(400, 11)

In [27]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [28]:
#converting the continuous data to categorical data of target variable
company.loc[company.Sales >=8.5 , 'Revised_Sales'] = 'High'
company.loc[company.Sales <8.5, 'Revised_Sales'] = 'Low'

In [29]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Revised_Sales
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,High
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,High
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,High
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,Low
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes,High
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes,Low
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes,Low
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes,Low
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes,High

In [30]:
company1=company.drop(['Sales' ],axis=1)

In [31]:
company1

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Revised_Sales
0,138,73,11,276,120,Bad,42,17,Yes,Yes,High
1,111,48,16,260,83,Good,65,10,Yes,Yes,High
2,113,35,10,269,80,Medium,59,12,Yes,Yes,High
3,117,100,4,466,97,Medium,55,14,Yes,Yes,Low
4,141,64,3,340,128,Bad,38,13,Yes,No,Low
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes,High
396,139,23,3,37,120,Medium,55,11,No,Yes,Low
397,162,26,12,368,159,Medium,40,18,Yes,Yes,Low
398,100,79,7,284,95,Bad,50,12,Yes,Yes,Low
399,134,37,0,27,120,Good,49,16,Yes,Yes,High

In [11]:
#converting all the categorical data to numeric by applying the labelEncoder
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [32]:
#applying label encoder to ShelveLoc,Urban,US columns
company1['ShelveLoc'] = label_encoder.fit_transform(company1['ShelveLoc'])
company1['Urban'] = label_encoder.fit_transform(company1['Urban'])
company1['US'] = label_encoder.fit_transform(company1["US"])

In [33]:
company1

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Revised_Sales
0,138,73,11,276,120,0,42,17,1,1,High
1,111,48,16,260,83,1,65,10,1,1,High
2,113,35,10,269,80,2,59,12,1,1,High
3,117,100,4,466,97,2,55,14,1,1,Low
4,141,64,3,340,128,0,38,13,1,0,Low
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1,High
396,139,23,3,37,120,2,55,11,0,1,Low
397,162,26,12,368,159,2,40,18,1,1,Low
398,100,79,7,284,95,0,50,12,1,1,Low
399,134,37,0,27,120,1,49,16,1,1,High

In [34]:
company1.Revised_Sales.value_counts()

Low     257
High    143
Name: Revised_Sales, dtype: int64

In [35]:
#dividing the data into x==>features , y==>target variable

In [38]:
x = company1.drop("Revised_Sales" , axis=1)
y = company1.Revised_Sales

In [39]:
#features
x

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1
396,139,23,3,37,120,2,55,11,0,1
397,162,26,12,368,159,2,40,18,1,1
398,100,79,7,284,95,0,50,12,1,1
399,134,37,0,27,120,1,49,16,1,1

In [41]:
#target variable
y

0      High
1      High
2      High
3       Low
4       Low
       ...
395    High
396     Low
397     Low
398     Low
399    High
Name: Revised_Sales, Length: 400, dtype: object

In [43]:
#creating the random forest classification model
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [44]:
#creating the model
num_trees = 100
max_features = 6
kfold = KFold(n_splits=5)

model = RandomForestClassifier(n_estimators=num_trees,max_samples=0.7,max_features=max_features,random_state=10)
results = cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.8275

In [48]:
model.fit(x,y)

RandomForestClassifier(max_features=6, max_samples=0.7, random_state=10)

In [50]:
model.estimators_

[DecisionTreeClassifier(max_features=6, random_state=1165313289),
 DecisionTreeClassifier(max_features=6, random_state=1283169405),
 DecisionTreeClassifier(max_features=6, random_state=89128932),
 DecisionTreeClassifier(max_features=6, random_state=2124247567),
 DecisionTreeClassifier(max_features=6, random_state=574014784),
 DecisionTreeClassifier(max_features=6, random_state=1902734705),
 DecisionTreeClassifier(max_features=6, random_state=1068604539),
 DecisionTreeClassifier(max_features=6, random_state=1425548444),
 DecisionTreeClassifier(max_features=6, random_state=2141071321),
 DecisionTreeClassifier(max_features=6, random_state=357864157),
 DecisionTreeClassifier(max_features=6, random_state=965494256),
 DecisionTreeClassifier(max_features=6, random_state=108111773),
 DecisionTreeClassifier(max_features=6, random_state=850673521),
 DecisionTreeClassifier(max_features=6, random_state=898541562),
 DecisionTreeClassifier(max_features=6, random_state=1118970888),
 DecisionTreeClassifier(max_features=6, random_state=1140597833),
 DecisionTreeClassifier(max_features=6, random_state=726325504),
 DecisionTreeClassifier(max_features=6, random_state=1132165610),
 DecisionTreeClassifier(max_features=6, random_state=379416616),
 DecisionTreeClassifier(max_features=6, random_state=645868022),
 DecisionTreeClassifier(max_features=6, random_state=796114340),
 DecisionTreeClassifier(max_features=6, random_state=789494131),
 DecisionTreeClassifier(max_features=6, random_state=1947309584),
 DecisionTreeClassifier(max_features=6, random_state=1359794532),
 DecisionTreeClassifier(max_features=6, random_state=16957679),
 DecisionTreeClassifier(max_features=6, random_state=1443416459),
 DecisionTreeClassifier(max_features=6, random_state=52365366),
 DecisionTreeClassifier(max_features=6, random_state=1678544216),
 DecisionTreeClassifier(max_features=6, random_state=1342696811),
 DecisionTreeClassifier(max_features=6, random_state=850926714),
 DecisionTreeClassifier(max_features=6, random_state=483295806),
 DecisionTreeClassifier(max_features=6, random_state=131497505),
 DecisionTreeClassifier(max_features=6, random_state=952431816),
 DecisionTreeClassifier(max_features=6, random_state=1621843812),
 DecisionTreeClassifier(max_features=6, random_state=1253598158),
 DecisionTreeClassifier(max_features=6, random_state=976828081),
 DecisionTreeClassifier(max_features=6, random_state=1794326195),
 DecisionTreeClassifier(max_features=6, random_state=175582262),
 DecisionTreeClassifier(max_features=6, random_state=921595981),
 DecisionTreeClassifier(max_features=6, random_state=564608453),
 DecisionTreeClassifier(max_features=6, random_state=182726669),
 DecisionTreeClassifier(max_features=6, random_state=1776687859),
 DecisionTreeClassifier(max_features=6, random_state=610615705),
 DecisionTreeClassifier(max_features=6, random_state=1197131134),
 DecisionTreeClassifier(max_features=6, random_state=1603486349),
 DecisionTreeClassifier(max_features=6, random_state=360353628),
 DecisionTreeClassifier(max_features=6, random_state=747898198),
 DecisionTreeClassifier(max_features=6, random_state=784396062),
 DecisionTreeClassifier(max_features=6, random_state=1897659038),
 DecisionTreeClassifier(max_features=6, random_state=1400512601),
 DecisionTreeClassifier(max_features=6, random_state=1864075916),
 DecisionTreeClassifier(max_features=6, random_state=452697409),
 DecisionTreeClassifier(max_features=6, random_state=505805343),
 DecisionTreeClassifier(max_features=6, random_state=1217952569),
 DecisionTreeClassifier(max_features=6, random_state=56428324),
 DecisionTreeClassifier(max_features=6, random_state=281592091),
 DecisionTreeClassifier(max_features=6, random_state=645950994),
 DecisionTreeClassifier(max_features=6, random_state=242425949),
 DecisionTreeClassifier(max_features=6, random_state=433958989),
 DecisionTreeClassifier(max_features=6, random_state=1140124054),
 DecisionTreeClassifier(max_features=6, random_state=1310923671),
 DecisionTreeClassifier(max_features=6, random_state=50629214),
 DecisionTreeClassifier(max_features=6, random_state=92973816),
 DecisionTreeClassifier(max_features=6, random_state=480792971),
 DecisionTreeClassifier(max_features=6, random_state=1755133596),
 DecisionTreeClassifier(max_features=6, random_state=1425423434),
 DecisionTreeClassifier(max_features=6, random_state=1371108568),
 DecisionTreeClassifier(max_features=6, random_state=256187785),
 DecisionTreeClassifier(max_features=6, random_state=388519951),
 DecisionTreeClassifier(max_features=6, random_state=1440960018),
 DecisionTreeClassifier(max_features=6, random_state=1291496912),
 DecisionTreeClassifier(max_features=6, random_state=1766015606),
 DecisionTreeClassifier(max_features=6, random_state=489559111),
 DecisionTreeClassifier(max_features=6, random_state=330091864),
 DecisionTreeClassifier(max_features=6, random_state=1411675531),
 DecisionTreeClassifier(max_features=6, random_state=1516308113),
 DecisionTreeClassifier(max_features=6, random_state=201418158),
 DecisionTreeClassifier(max_features=6, random_state=1889731719),
 DecisionTreeClassifier(max_features=6, random_state=542399179),
 DecisionTreeClassifier(max_features=6, random_state=523789084),
 DecisionTreeClassifier(max_features=6, random_state=204380961),
 DecisionTreeClassifier(max_features=6, random_state=995292628),
 DecisionTreeClassifier(max_features=6, random_state=1371327226),
 DecisionTreeClassifier(max_features=6, random_state=596066144),
 DecisionTreeClassifier(max_features=6, random_state=854473176),
 DecisionTreeClassifier(max_features=6, random_state=1146241068),
 DecisionTreeClassifier(max_features=6, random_state=1532660357),
 DecisionTreeClassifier(max_features=6, random_state=1425885188),
 DecisionTreeClassifier(max_features=6, random_state=1510336583),
 DecisionTreeClassifier(max_features=6, random_state=1330486616),
 DecisionTreeClassifier(max_features=6, random_state=1093703512),
 DecisionTreeClassifier(max_features=6, random_state=419112754),
 DecisionTreeClassifier(max_features=6, random_state=1271145836),
 DecisionTreeClassifier(max_features=6, random_state=1599413430),
 DecisionTreeClassifier(max_features=6, random_state=1648994594),
 DecisionTreeClassifier(max_features=6, random_state=2074558824),
 DecisionTreeClassifier(max_features=6, random_state=1398061839),
 DecisionTreeClassifier(max_features=6, random_state=2007481805),
 DecisionTreeClassifier(max_features=6, random_state=708737880),
 DecisionTreeClassifier(max_features=6, random_state=1613810319)]

In [51]:
company1["model_rf_pred"]  = model.predict(x)

In [58]:
company1

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Revised_Sales,model_rf_pred
0,138,73,11,276,120,0,42,17,1,1,High,High
1,111,48,16,260,83,1,65,10,1,1,High,High
2,113,35,10,269,80,2,59,12,1,1,High,High
3,117,100,4,466,97,2,55,14,1,1,Low,Low
4,141,64,3,340,128,0,38,13,1,0,Low,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1,High,High
396,139,23,3,37,120,2,55,11,0,1,Low,Low
397,162,26,12,368,159,2,40,18,1,1,Low,Low
398,100,79,7,284,95,0,50,12,1,1,Low,Low
399,134,37,0,27,120,1,49,16,1,1,High,High

In [45]:
print(results)

[0.8375 0.7875 0.8875 0.8125 0.8125]

In [46]:
print(results.mean())

0.8275

In [47]:
#since the average cross validation score obtained is 0.8275